body{
    display: flex;
    justify-content: center;
    align-items: center;
    /*flex-direction: column;*/
}
#toast{
    position: fixed;
    top: 32px;
    right: 32px;
    z-index: 99;
}
.toast{
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 2px;
    border-left: 8px solid;
    padding: 20px 0;
    min-width: 400px;
    max-width: 450px;
    box-shadow: 0 5px 8px rgba(0,0,0,0.08);
    margin: auto;
}
@keyframes slideInLeft{
    from{
        opacity: 0;
        transform: translateX(calc(100% + 32px));
    }to{
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes fadeOut {
    to{
        opacity: 0;
    }
}
.toast--success{
    border-color: #47d864 ;
}
.toast--success .toast__icon{
    color: #47d864;
}
.toast--info{
    border-color:#2f86eb ;
}
.toast--info .toast__icon{
    color:#2f86eb
}
.toast--warning{
    border-color:#ffc021;
}
.toast--warning .toast__icon{
    color:#ffc021;
}
.toast--error{
    border-color:#ff623d;
}
.toast--error .toast__icon{
    color: #ff623d;
}
.toast+.toast{
    margin-top: 24px;
}
.toast__icon{
    font-size: 24px;
}
.toast__body{
    flex-grow:1;
}
.toast__title{
    font-size: 16px;
    font-weight: 600;
    color: #666;
}
.toast__msg{
    font-size: 14px;
    color: #888;
    margin-top: 4px;
    line-height: 1.5;
}
.toast__icon,
.toast__close{
    padding: 0 16px;
}
.toast__close{
    font-size: 24px;
    color: rgba(0,0,0,0.3);
    cursor: pointer;
}
.btn{
    display: inline-block;
    text-decoration: none;
    background-color: transparent;
    border: none;
    outline: none;
    color: #fff;
    font-size: 24px;
    padding: 12px 48px;
    border-radius: 50px;
    cursor: pointer;
    transition: opacity .2s ease;
 }
 .btn:hover{
     opacity: 0.3;
 }
 .btn + .btn{
     margin-left: 120px;
 }
 .btn--success{
     background-color: rgb(95, 253, 4);
 }
 .btn--warn{
     background-color: rgb(255, 167, 5);
 }
 .btn--danger{background-color: red;
 }
 .btn-disable{
     opacity: 0.5 !important;
     cursor: default;
 }
